/* Variables */

// Colors

$primary: #1F78FF;
$primary-hover: #548dff;
$active: #042558;
$error: #f53c3c;
$success: #007b40;
$gray-1: #f9f9f9;
$gray-2: #F4F4F4;
$gray-3: #aaaaaa;
$gray-4: #4F4F4F;
$gray-5: #333333 !default;
$dashboard-bg: #F7F9FB;
$search-bg: #F5F5F5;
$graduate-bg: rgba(124,177,255,29);
$warning: #FFB818;

// Fonts
$text-font-stack: "Roboto", sans-serif !default;